<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>TapTally</h2>
    <p class="lead">Create as many tap tallies you wan't and keep track of virtually anything, completelly free.</p>
</div>

<div class="row">
    <div class="col">
        <div class="col-12 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your tallies</span>
                <span class="badge badge-secondary badge-pill">{{ tallies.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let tally of tallies">
                    <div>
                        <h6 class="my-0">{{ tally.name }} <small class="refresh-icon">&#x21bb;</small></h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <div>
                        <span class="text-muted">{{ tally.count }}</span><br />

                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-0 border-right-0">
                  <app-tally class="card w-100 bg-tally-light"></app-tally>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add tally">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Johannes Kärnstam</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="mailto:snack@johanneskarnstam.se">snack@johanneskarnstam.se</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Support</a>
        </li>
    </ul>
</footer>