<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>TapTally</h2>
    <p class="lead">Create as many tap tallies you wan't and keep track of virtually anything, completelly free.</p>
</div>

<div class="row">
    <div class="col">
        <div class="col-12 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your tallies</span>
                <span class="badge badge-secondary badge-pill">{{ tallies.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between p-0 border-right-0">
                    <app-tally [tally]="selectedTally" class="card w-100 bg-tally-light"></app-tally>
                </li>
                <li (click)="setSelectedTally(tally)" [ngClass]="{'text-success': isCurrentTally(tally)}" class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let tally of tallies">
                    <div>
                        <h6 class="my-0">{{ tally.name }}
                            <svg id="i-reload" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
                            </svg>
                        </h6>
                        <small [ngClass]="{'text-success': isCurrentTally(tally)}">{{tally.last | timeAgo}}</small>
                    </div>
                    <div>
                        <span [ngClass]="{'text-success': isCurrentTally(tally)}">{{ tally.count }}</span><br />

                    </div>
                </li>
            </ul>
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add tally">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Johannes Kärnstam</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="mailto:snack@johanneskarnstam.se">snack@johanneskarnstam.se</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Support</a>
        </li>
    </ul>
</footer>