.refresh-icon {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    margin-top: 5px;
}

.bg-tally-light {
    background: #f3f3f3;
}

.outline-none {
    outline: none;
}

li.tally-active{
    background: #d4e7b8;
}

app-tally{
    border-bottom: 0;
    border-radius: 0;
    border-left: 0;
}