<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h2>TapTally</h2>
  <p class="lead">Create as many tap tallies you wan't and keep track of virtually anything, completelly free.</p>
</div>

<div class="row">
  <div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your Tallies</span>
      <span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item px-1 d-flex justify-content-between lh-condensed" *ngFor="let tally of tallies">
        <div class="container px-1">
          <div class="row">
            <div class="col">
              <svg id="i-chevron-top" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2">
                <path d="M30 20 L16 8 2 20" />
              </svg>
            </div>
            <div class="col-5">
              {{ tally.count }}
            </div>
            <div class="col">
              3 of 3
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row justify-content-between ">
          <div class="col">
            <div>
              <svg id="i-chevron-top" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2">
                <path d="M30 20 L16 8 2 20" />
              </svg>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <h6 class="my-0">{{ tally.name }}</h6>
              <small class="text-muted">Brief description</small>
            </div>
          </div>
          <div class="col">
            <div>
              <svg id="i-chevron-bottom" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2">
                <path d="M30 12 L16 24 2 12" />
              </svg>
            </div>
          </div>
        </div>
      -->
      </li>
      <!--<li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let tally of tallies">
            <div>
              <svg id="i-chevron-top" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M30 20 L16 8 2 20" />
            </svg>
            </div>
            <div>
              <h6 class="my-0">{{ tally.name }}</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <svg id="i-chevron-bottom" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 12 L16 24 2 12" />
          </svg>
            <!--<span class="text-muted">$12</span>-->


      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Promo code</h6>
          <small>EXAMPLECODE</small>
        </div>
        <span class="text-success">-$5</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>$20</strong>
      </li>
    </ul>

    <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="New Tally">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2018 Johannes Kärnstam</p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="mailto:snack@johanneskarnstam.se">snack@johanneskarnstam.se</a>
    </li>
    <li class="list-inline-item">
      <a href="#">Terms</a>
    </li>
    <li class="list-inline-item">
      <a href="#">Support</a>
    </li>
  </ul>
</footer>





<!--<div class="row">
  <div class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let tally of tallies">
        <div class="d-flex w-60 justify-content-between">
          <h5 class="mb-1">{{ tally.name }}</h5>
          <small>{{ tally.last | timeAgo }}</small>
        </div>
        <div class="d-flex w-50 justify-content-between">
          <h5 class="mb-1">{{ tally.count }}</h5>
          <small>{{ tally.last | timeAgo }}</small>
        </div>    
      </div>
  </div>
</div>-->


<!--<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let tally of tallies">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ tally.count }}</h5>
      <small>{{ tally.last | timeAgo }}</small>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small>{{ tally.name }} => Mål: {{ tally.goal }}</small><small class="float-right refresh-icon" *ngIf="tally.resetEveryday">&#x21bb;</small>
  </a>
</div>
-->



<!--
<div class="list-group">
  <div class="row" *ngFor="let tally of tallies">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ tally.count }}</h5>
          <small>{{ tally.last | timeAgo }}</small>
        </div>
      </div>
      <div class="col"></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small>{{ tally.name }} => Mål: {{ tally.goal }}</small><small class="float-right refresh-icon" *ngIf="tally.resetEveryday">&#x21bb;</small>
    </a>
  </div>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let tally of tallies">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ tally.count }}</h5>
      <small>{{ tally.last | timeAgo }}</small>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small>{{ tally.name }} => Mål: {{ tally.goal }}</small><small class="float-right refresh-icon" *ngIf="tally.resetEveryday">&#x21bb;</small>
  </a>
</div>
<div class="list-group">
  <div class="row list-group-item list-group-item-action flex-column align-items-start" *ngFor="let tally of tallies">
      <div class="row">
        <div class="col">
          <button (click)="increase(tally)" type="button" class="btn btn-primary btn-lg">&#8607;</button>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ tally.count }}</h5>
              <small>{{ tally.last | timeAgo }}</small>
            </div>
          </div>
          <div class="row">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <button (click)="decrease(tally)" type="button" class="btn btn-secondary btn-lg">&#8609;</button>
        </div>
      </div>
      <div class="row">
          <small>{{ tally.name }} => Mål: {{ tally.goal }}</small><small class="float-right refresh-icon" *ngIf="tally.resetEveryday">&#x21bb;</small>
      </div>
    </div>
</div>-->