<div class="row">
    <div class="col">
        <div class="col-12 mb-4">
            <div class="card">
                <h3 class="card-header">{{ tally.name }} <div class="float-right">{{ tally.count }}</div></h3>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>